@charset "UTF-8";

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    background-color: rgba(241, 239, 239, 0.747);
}
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    margin: 0 auto;
    width: 80vh;
    border-radius: 15px;
}
.title{
    font-size: 2em;
    text-align: center;
    padding: 15px;
    margin-bottom: 45px;
    background-color: transparent;
    background: transparent;
}
.underline {
    height: 5px;
    width: 100px;
    background: hsl(205, 78%, 60%);
    margin-left: auto;
    margin-right: auto;
  }
.review{
    text-align: center;
    background-color: rgba(233, 233, 233, 0.404);
    box-shadow: 2px 2px 2px .7px rgba(0, 0, 0, 0.411);
    padding-top: 5px;
    border-radius: 15px;
}
.img-container{
    position: relative;
    width: 180px;
    height: 180px;
    margin: 30px auto;
    margin-bottom: 1.5em;
    border-radius: 50%;
}
#car-img{
    border-radius: 50%;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: fill;
    position: relative;
}
#model{
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
}
#year{
    text-align: center;
    font-weight: bolder;
    color: rgba(0, 119, 255, 0.829);
    font-size: 1.2em;
    margin: 0.5em auto;
}
#info{
    padding: 0 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
    text-align: center;
    margin: 0.8em auto;

}
.prev,
.next{
    margin: 0 0.3em;
    font-size: 1.2em;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    padding-bottom: 10px;
}
.prev:hover,
.next:hover{
    transition: ease-in 0.2s;
    margin: 0 0.3em;
    font-size: 1.2em;
    color: blue;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    padding-bottom: 5px;
}
.random{
    background: rgba(124, 137, 155, 0.815);
    border-color: rgb(143, 148, 221);
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.random:hover{
    transition: ease-out 0.2s;
    background: rgba(80, 84, 143, 0.815);
    border-color: rgb(30, 31, 46);
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
@media screen and (min-width: 650px) {
    .container{
       width: 90vh;
    }
    #info{
        width: 150px;

    }
  }

  @media screen and (min-width: 400px) {
    .container{
       width: 50vh;
    }
    #info{
        width: 350px;
        text-align: justify;

    }
  }

  @media screen and (min-width: 900px) {
    .container{
       width: 75vh;
    }
    #info{
        width: 500px;
        text-align: center;

    }
  }

