
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 150px;
}
.text{
    text-align: center;
    margin-bottom: 20px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
